*_ReSharper*
*bin/
*obj/
*Debug/
*.exp
*.lib
*.opensdf
*.vsp
*.user
XmlRpc_Wrapper/XmlRpcWin32.dll
XmlRpc_Wrapper/XmlRpcWin32.pdb
Messages/
*.suo
*.sdf
*.vcxproj.user
TempMessages/
TestResults/
XmlRpc_Wrapper/XmlRpcWin32.instr.pdb
*.psess
XmlRpcWin32/Release
Release/*.dll
Release/*.pdb
*.testsettings
*.vsmdi
msg_gen/msg_gen.exe
*.Debug.cachefile
XmlRpc_Wrapper/XmlRpcWin32.instr.pdb
