
**_ReSharper*
EricIsAmazing/bin/
EricIsAMAZING/obj/
Messages/bin/*
Messages/obj/*
*/bin/*
*/obj/*
XmlRpcWin32/Debug/*
XmlRpc_Wrapper/XmlRpcWin32.exp
ROS_dotNET.opensdf
ROS_dotNET.sdf
ROS_dotNET.suo
XmlRpc_Wrapper/XmlRpcWin32.lib
XmlRpcWin32/XmlRpcWin32.vcxproj.user
XmlRpc_Wrapper/XmlRpcWin32.pdb
DREAMPioneer/DREAMPioneer/bin
DREAMPioneer/DREAMPioneer/obj/
DREAMPioneer/DREAMPioneer/bin
DREAMPioneer/DREAMPioneer/obj